DEV_GOOGLE_CREDENTIALS="{\"type\": \"service_account\", \"project_id\": \"project_id\", \"private_key_id\": \"your_private_key_id\", \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC5YG1b80ssKuU7\\nmLQ6OlGoA8SfA/Ps/NAzCypXCvGBMhPJ0sVwx0Fip9wjiY10SDAbmdB484vsQZrX\\nxQfCc3uQigK5nTz+ukkWsl4RRlk4QGDEGaZnjOkidjrFvsa5XeW8EC7kIr***=\\n-----END PRIVATE KEY-----\\n\", \"client_email\": \"client_email@example.com\", \"client_id\": \"client_id\", \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\", \"token_uri\": \"https://oauth2.googleapis.com/token\", \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\", \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/your-service-account@your-project.iam.gserviceaccount.com\", \"universe_domain\": \"googleapis.com\"}"
